.background    { background: black;
                 table-layout: fixed;
                 border-spacing: 0;   }
.background td { padding: 0;          }
.lava          { background: red;     }
.wall          { background: green;   }
.cloud         { background: grey;    }
.SuperJump     { background: orange;  }

.actor  { position: absolute;  }
.coin   { background-image: url("coin.gif");
          background-size: 12px 12px;}
.player { background: hotpink;}

.game {
  overflow: hidden;
  max-width: 600px;
  max-height: 450px;
  position: relative;
}

.lost .player {
  background: rgb(160, 64, 64);
}
.won .player {
  box-shadow: -4px -7px 8px blue, 4px -7px 8px blue;
}
